<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->
<!-- Articles -->
<div id="articles-wrapper" class="f-height">
  <!-- Article slider -->
  <div class="shadow-top"></div>

  <div class="g12 f-height">
		<%= render :partial => 'partials/article_banner' %>
  </div>
  <div class="shadow-bottom"></div>
  <!-- /Article slider -->
  <div class="g12">
    <h1>Статті</h1>
  </div>
  <div class="g6 news-item alpha g6-alpha">
    <h2 class="article-header">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</h2>
    <div class="image-cont"><%= image_tag('article.jpg') %></div>
    <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
  </div><!-- g6 news-item -->

  <div class="g6 news-item omega g6-omega">
    <h2 class="article-header">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</h2>
    <div class="image-cont"><%= image_tag('article.jpg') %></div>
    <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
  </div><!-- g6 news-item -->

  <div class="g6 news-item alpha g6-alpha">
    <h2 class="article-header">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</h2>
    <div class="image-cont"><%= image_tag('article.jpg') %></div>
    <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
  </div><!-- g6 news-item -->

  <div class="g6 news-item omega g6-omega">
    <h2 class="article-header">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</h2>
    <div class="image-cont"><%= image_tag('article.jpg') %></div>
    <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
  </div><!-- g6 news-item -->
</div>
<!-- /Articles -->

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor-all" %>
<!-- Sponsor render -->
<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
