<%= render :partial => "partials/unsupported_browsers" %>
<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- Banner render -->
<%= render :partial => "partials/banner-home" %>
<!-- Banner render -->

<!-- Info area -->
<div id="info-wrapper" class="f-height">
  <div class="g4 alpha main-descr-img">
    <%= image_tag('logo-big.jpg') %>
  </div>

  <div id="about" class="g8 omega main-descr-area">
    <h1>Вас вітає «Десятка» &mdash; гуртівня буд-матеріалів</h1>
    <p class="h1-cont">&mdash; лідер з гуртового продажу будівельно-оздоблювальних матеріалів у Західній Україні</p>
    <p class="af-description">Компанія знаходиться на ринку вже протягом 10 років та зарекомендувала себе як надійний партнер не лише для будівельних компаній та гуртових магазинів, а і для мереж гіпермаркетів, таких як «Нова Лінія», «Практікер» та ін.</p>
   </div>
</div>
<!-- /Info area -->

<!-- Catalog render -->
<%= render :partial => "partials/catalog-home" %>
<!-- Catalog render -->

<!-- Article render -->
<%= render :partial => "partials/article-home" %>
<!-- Article render -->

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor-all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
