<%= image_tag('logo-big.jpg') %>
<h1>Ваш браузер устарел!</h1>
<p>Браузер, которым Вы пользуетесь устарел! У него есть проблемы с безопасностью и у него ограниченные возможности. Вам будут не доступны некоторые детали на многих сайтах.</p>

<div id="browser-downloads">
	<%= link_to(image_tag('https://raw.github.com/paulirish/browser-logos/master/ie9-10/ie9-10.png', :width => '120px'), 'http://windows.microsoft.com/ru-ru/internet-explorer/download-ie') %>
	<%= link_to(image_tag('https://raw.github.com/paulirish/browser-logos/master/opera/opera.png', :width => '120px'), 'http://www.opera.com/computer/windows') %>
	<%= link_to(image_tag('https://raw.github.com/paulirish/browser-logos/master/firefox/firefox.png', :width => '120px'), 'http://www.mozilla.org/ru/firefox/new/') %>
	<%= link_to(image_tag('https://raw.github.com/paulirish/browser-logos/master/chrome/chrome.png', :width => '120px'), 'http://www.google.com/intl/ru/chrome/browser/') %>
</div>
